body{
    border: 20px solid rgb(226, 181, 205);
        padding:35px;
        margin: 30px;
}
.container{
    text-align: center;
    text-decoration: none;
    margin: 100px auto 100px;
    width: 80%;
}

span{
    display: block;
}
.button{
    width: 100px;
    height: 100px;
    display: inline-block;
    border: solid black 2px
}
#grey{
    background: grey;
}
#wite{
    background: white;
}
#blue {
    background: blue;
  }
  #yellow {
    background: yellow;
  }
  #pink {
    background:rgb(192, 85, 102)
  }
  #purple {
    background: purple;
  }




