body{
   background: #710d0d;
}
.container {
    align-items: center;
    text-align: center;
    width: 575px;
    margin-left: 400px;
    margin-top: 100px;
    background-color: #797978;
    border: 5px solid rgb(0, 0, 0);
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-top: 25px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #750404;
    text-decoration: none;
    border: 2px solid #420b0b;
    font-size: 25px;
  }
  

  